appdirs==1.4.3
click==6.7
cycler==0.10.0
docutils==0.13.1
Flask==0.12.1
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
Pygments==2.2.0
pyparsing==2.2.0
pytz==2016.6.1
requests==2.13.0
six==1.10.0
Werkzeug==0.12.1
